
h1 {
    background-color: pink;
    text-align: center;
    position: sticky;
    top: 0;
}
h3 {
    color: black;
    font-style: bold;
}
h4 {
    font-size: 40px;
    color: pink;
}

h5 {
    font-size: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
h6 {
    background-color: black;
    color: white;
    font-size: 30px;
}

div.pseudo:hover {
    color: pink;
    font-size: 36px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.container {
    color: black;
    font-size: 50px;
    text-align: center;
}
.container h1 {
    color: green;
    background-color: black;
}
.box {
    background-color: yellow;
    color: black;
    width: 200px;
    border: 20px solid pink;
    padding: 30px;
    margin: 30px;
}
#container2 {
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: pink;
    width: 200px;
    padding: 40px;
    margin: 50px;
}
#container2 p {
    color: white;
    background-color: orange;
}
#link {
    background-color: pink;
    border: 60px;
    margin: 70px;
    padding: 10px;
    position: absolute;
}
.phone {
    background-color: white;
    color: black;
    width: 1000px;
    height: 10px;
    border: 10px solid pink;
    padding: 50px;
    margin: 50px;
}
#hello {
    height: 40px;
    width: 70px;
    background: yellow;
    margin: 60px auto;
    border-radius: 5px;
    animation-name: rainbow;
    animation-duration: 10s;
}
@keyframes rainbow {
    0% {
        background-color: yellow;
    }
    50% {
        background-color: pink;
    }
    100% {
        background-color: black;
    }
}