.topnav {
    background-color: rgb(255, 141, 70);
    overflow: hidden;
    position: sticky;
    top: 0;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
.topnav a:hover {
    background-color: #ddd;
    color: black;
}
.topnav a.active {
    background-color: #ff6600;
    color: white;
}
h1 {
    text-align: center;
    font-family: initial;
    color:#ff4800;
}
.center {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}
paragraph {
    font-size: 18px;
    font-family: sans-serif; 
    display: inline-block;
    margin-left: 100px;
    margin-right: 100px;
}
.img {
    display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
}

h4 {
    text-align: center;
    font-family: initial;
}

html{
    background-color: rgb(243, 197, 151);
}
